* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/********** CONTENITORE TOTALE *************/

#container {
    height: 100vh;
    background-color: gray;
    border: 1px solid blue;
}

/********** UTILITIES *************/

.flex {
    display: flex;
}

/********** STRUTTURA LAYOUT *************/

main {
    width: 100%;
    background-color: green;
    border: 1px solid yellow;
}

nav {
    background-color: black;
    border: 1px solid orange;
    color: white;
    height: 90vh;
    /* display: inline-block; */
}

header {
    background-color: black;
    /* height: 10vh; */
    width: 100%;
    justify-content: flex-end;
    position: relative;
    position: sticky;
    top: 0;
    z-index: 1;
    opacity: 60%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 0.5rem;
    
}

section {
    background-color: blueviolet;
    height: 90vh;
    border: 5px solid red;
    width: 100%;
}

footer {
    background-color: deeppink;
    height: 10vh;
    width: 100%;
    justify-content: space-between;
}

/**********  NAV *************/
.navSection{
    flex-direction: column;
    justify-content: space-between;
}

.logoContainer img{
    padding-bottom: 1rem;
}

.topNav{
    padding: 1rem;
}

/* HSL */
.home{
    display: flex;
    margin-bottom: 0.5rem;
}

.home div,
.home img{
    width: 15%;
}

.homeDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.5rem;
}



/* PLAYLIST */

.playlistTitle{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.createPlaylist{
    margin-bottom: 1rem;
    display: flex;
}

.createPlaylistDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.5rem;
}

.playlistName div{
    line-height: 2rem;
}

.bottomNav{
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem;
}

.fa-square-plus{
    font-size: 2rem;
}

/* BASSO NAV */

.installApp{
    display: flex;
}


.installApp img{
    width: 8%;
}
.installApp div{
    width: 25%;
}

.appDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.5rem;
    width: 50%;
}


.appDiv {
    font-size: 0.9rem;
}

.navLine{
    height: 2px;
    background-color: rgb(54, 51, 51);
    margin-top: 4px;
    margin-bottom: 2px;
}




/********** HEADER  *************/

.upgrade{
    color: white;
    border-radius: 25px;
    background-color: black;
    padding: 0.7rem;
    
    border:2px solid white;
}


/**********  CONTENTS  *************/

.contentCategories{
    width: 70%;
    margin: auto; 
    justify-content: space-between; 
    color: gray;  
}

.contentCategories div{
    margin-top: 1rem;
    margin-bottom: 1rem;  
}

.contentCategories p{
    font-size: 0.8rem;
}

.recentlyPlayed{
    padding: 1rem;
}


.albumsContainer{
    flex-wrap: wrap;
}

.album{
    width: calc(100% / 4);
    text-align: center;
}

.album img{
    padding: 10px;
    width: 100%;
}

.recentlyTitle h2{
    padding-left: 10px;
}

/* ALBUM 2 */

.createdFor{
    padding: 1rem;
}

.album2{
    width: calc(100% / 4);
    text-align: center;
}

.album2 img{
    padding: 10px;
    width: 100%;
}

.createdForTitle h2,
.createdForTitle h5{
    padding-left: 10px;
}

/* ALBUM 3 */

.popular{
    padding: 1rem;
}

.album3{
    width: calc(100% / 4);
    text-align: center;
}

.album3 img{
    padding: 10px;
    width: 100%;
    border-radius: 50%;
}

.popularTitle h2,
.popularTitle h5{
    padding-left: 10px;
}




/**********  FOOTER  *************/

.principal{
    /* height: 90vh; */
    overflow: auto;
} 