@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

/********** CONTENITORE TOTALE *************/

#container {
    height: 100vh;
    background-color: gray;
    /* border: 1px solid blue; */
}

.principal{
    /* height: 90vh; */
    overflow: auto;
} 

/********** UTILITIES *************/

.flex {
    display: flex;
}

/********** STRUTTURA LAYOUT *************/

main {
    width: 100%;
    background-color: green;
    /* border: 1px solid yellow; */
}

nav {
    background-color: black;
    /* border: 1px solid orange; */
    color: grey;
    height: calc(100vh - 100px)
    /* display: inline-block; */
}

header {
    background-color: black;
    /* height: 10vh; */
    width: 100%;
    justify-content: flex-end;
    position: relative;
    position: sticky;
    top: 0;
    z-index: 1;
    opacity: 75%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 0.5rem;
    
}

section {
    background-color: rgb(20, 25, 34);
    height: calc(100vh - 100px);
    /* border: 5px solid red; */
    width: 100%;
    color: white;
}

footer {
    background-color: rgb(36, 35, 35);
    height: 100px;
    width: 100%;
    justify-content: space-between;
    color: white;
}

/**********  NAV *************/
.navSection{
    flex-direction: column;
    justify-content: space-between;
}

.logoContainer img{
    padding-bottom: 1rem;
    width: 60%;
}

.topNav{
    padding: 1rem;
    overflow: hidden;
}

/* HSL */
.home{
    display: flex;
    margin-bottom: 0.5rem;
}

.home div,
.home img{
    width: 15%;
}

.homeDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.5rem;
}



/* PLAYLIST */

.playlistTitle{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.createPlaylist{
    margin-bottom: 1rem;
    display: flex;
}

.createPlaylistDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.5rem;
}

.playlistName div{
    line-height: 2rem;
}

.bottomNav{
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem;
}

.fa-square-plus{
    font-size: 2rem;
}

/* BASSO NAV */

.installApp{
    display: flex;
    
}


.installApp img{
    width: 8%;
}
/* .installApp div{
    width: 25%;
} */

.appDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.5rem;
    width: 100%;
}


.appDiv {
    font-size: 0.9rem;
    width: auto;
}

.navLine{
    height: 2px;
    background-color: rgb(54, 51, 51);
    margin-top: 4px;
    margin-bottom: 2px;
}




/********** HEADER  *************/

.upgrade{
    color: white;
    border-radius: 25px;
    background-color: black;
    padding: 0.7rem;
    border:2px solid white;
}


/**********  CONTENTS  *************/

.contentCategories{
    width: 70%;
    margin: auto; 
    justify-content: center; 
    color: gray;  
    margin-top: 1rem;
    margin-bottom: 1rem; 
}

.contentCategories li{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    padding-bottom: 40px;
    width: auto;
    flex-basis: calc(100% / 6);
    justify-content: center;  
}

/* .contentCategories h5{
    font-size: 0.8rem;
} */

.recentlyPlayed{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}


.albumsContainer{
    flex-wrap: wrap;
}

.album{
    width: calc(100% / 4);
    text-align: center;
}

.album h6{
    color: gray;
    padding-top: 3px;
}

.album img{
    padding: 10px;
    width: 100%;
}

.recentlyTitle h2{
    padding-left: 10px;
}

/* ALBUM 2 */

.createdFor{
    padding: 1rem;
}

.album2{
    width: calc(100% / 4);
    text-align: center;
}

.album2 img{
    padding: 10px;
    width: 100%;
}

.createdForTitle{
    margin-bottom: 3px;
}

.createdForTitle h2,
.createdForTitle h5{
    padding-left: 10px;
}

/* ALBUM 3 */

.popular{
    padding: 1rem;
}

.album3{
    width: calc(100% / 4);
    text-align: center;
}

.album3 img{
    padding: 10px;
    width: 100%;
    border-radius: 50%;
}

.popularTitle h2,
.popularTitle h5{
    padding-left: 10px;
}

.popularTitle{
    margin-bottom: 3px;
}


/**********  FOOTER  *************/



/* LEFT FOOTER */

.leftFooter{
    width: 25%;
}

.currentSong{
    display: flex;
    justify-content: space-between;
}

.song{
    margin-left: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.song img{
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.songTitle{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 1rem; */
}

.leftFooterIcons{
    display: flex;
    /* flex-direction: column; */
    align-items: center; 
}

.fa-heart,
.fa-folder{
    padding: 0.3rem;
}


/* CENTER FOOTER */

.centerFooter{
    width: 40%;
}

.centerContainer{
    width: 100%;
}

.songDuration{
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: row;
    justify-content: center;
    
}

.songBar{
    width: 70%;
    background-color: rgb(106, 99, 99);
    height: 5px;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.listened{
    width: 20%;
    background-color: rgb(186, 179, 179);
    height: 5px;
    border-radius: 25px;
}

.playIcons{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* 
.playIcons i{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.2rem;
} */

.fa-shuffle,
.fa-backward-step,
.fa-forward-step,
.fa-arrow-rotate-right{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.2rem;
}

.fa-circle-play{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 2rem;
    margin-top: -5px;
}



/* RIGHT FOOTER */

.rightFooter{
    width: 25%;
}


.volume input{
    margin-right: 0.5rem;
}

.volume{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.fa-list,
.fa-display,
.fa-volume-high{
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

@media screen and (max-width: 1324px){
    
    /***** CONTENTS *****/

    .contentCategories{
        width: 90%;
        text-align: center;
        flex-wrap: wrap;
        /* flex-basis: calc(100% / 5) */
    }

    .contentCategories div{
        width: auto;
        flex-basis: calc(100% / 5);
        justify-content: center; 
    }

    .contentCategories h5{
        text-align: center;
    }

}
